<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <b>
                    @Html.ActionLink("Quản lý hàng bán", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </b>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: right">
                    <li>@Html.ActionLink("BÁN HÀNG", "Index", "Home")</li>
                    <li>@Html.ActionLink("NHẬP HÀNG", "About", "Home")</li>
                    <li>@Html.ActionLink("ĐĂNG XUẤT", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" id="nav2">
                <a class="nav-item nav-link " href="#">Trang chủ </a>
                <a class="nav-item nav-link" href="#">Hàng hoá</a>
                <a class="nav-item nav-link" href="#">Bảng giá</a>
                <a class="nav-item nav-link" href="#">Thuế</a>
                <a class="nav-item nav-link" href="#">Nhà cung cấp</a>
                <a class="nav-item nav-link" href="#">Đơn vị tính</a>
                <a class="nav-item nav-link" href="#">Thống kê</a>
            </div>
        </div>
        <hr />
    </nav>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
