@model IEnumerable<QuanLyTapHoa.Models.PhieuNhapHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TongSoTienNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongSoLuongNhap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TongSoTienNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongSoLuongNhap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuNhap }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieuNhap }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieuNhap })
        </td>
    </tr>
}

</table>
